@model WebAPI.Models.Book
    <title>Kişi Bilgilerini Düzenle</title>
<div class="content-wrapper">
<div class="col-lg-10">
    <div class="card">
        <div class="card-body">
            <h1>Kişi Bilgilerini Düzenle</h1>
            <br />

            <form asp-controller="TelephoneBook" asp-action="Edit" method="post">
                <input type="hidden" asp-for="Id" />
                <div>
                    <label>Adı:</label>
                    <input type="text" asp-for="Name" class="form-control" required />
                </div>
                <div>
                    <label>Soyadı:</label>
                    <input type="text" asp-for="SurName" class="form-control"  required />
                </div>
                <div>
                    <label>Telefon Numarası:</label>
                    <input type="number" asp-for="TelephoneNumber" class="form-control"required />
                </div>
                <hr />
                <div> <button type="submit" class="btn btn-light btn-block waves-effect waves-light">Düzenle</button></div>
               

            </form>
</div>
</div>
</div>
</div>