@using Microsoft.AspNetCore.Mvc.Localization
@using TelephoneBook.Localization
@inject IHtmlLocalizer<TelephoneBookResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
