@model DateTime?
@{Layout = null; }

<head>

    <title>Hata Mesajı</title>
    <!-- loader-->
    <link href="~/assets/css/pace.min.css" rel="stylesheet" />
    <script src="~/assets/js/pace.min.js"></script>
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Custom Style-->
    <link href="~/assets/css/app-style.css" rel="stylesheet" />

</head>
<p class="text-center mt-5 p-3 lead">
    ÖNBELLEKTE KALMA SÜRESİ
    </p>
    <hr />
    <hr />
    <form asp-controller="Home" asp-action="Index" method="post">
        <div class="row">
            <span class="text-center mt-5 p-3 lead">
               # Şimdiki Zaman:
                @DateTime.Now.ToString();
            </span>
        </div>
        <div>
            <span class="text-center mt-5 p-3 lead">
                # Önbelleğe Alınan Zaman:
                @Model.Value.ToString();
            </span>
        </div>
    </form>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />

<!--Start Back To Top Button-->


<!--end color switcher-->
<!-- Bootstrap core JavaScript-->
<!--<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>-->

<!-- sidebar-menu js -->
<!--<script src="~/assets/js/sidebar-menu.js"></script>-->

<!-- Custom scripts -->
<!--<script src="~/assets/js/app-script.js"></script>-->

