@model PhoneBook.Models.ViewModel.ResetPasswordModel
@{ Layout = null; }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashtreme - Multipurpose Bootstrap4 Admin Template</title>
    <!-- loader-->
    <link href="~/assets/css/pace.min.css" rel="stylesheet" />
    <script src="~/assets/js/pace.min.js"></script>
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Custom Style-->
    <link href="~/assets/css/app-style.css" rel="stylesheet" />

</head>

<body class="bg-theme bg-theme1">

    <!-- Start wrapper-->
    <div id="wrapper">

        <div class="height-100v d-flex align-items-center justify-content-center">
            <div class="card card-authentication1 mb-0">
                <div class="card-body">
                    <div class="card-content p-2">


                        <p class="pb-2"></p>
                        @if (ViewBag.State == null)
                        {
                            <div class="card-title text-uppercase pb-2">Şifre Sıfırla</div>
                            <form asp-controller="Security" asp-action="ResetPassword" method="post">

                                <div class="form-group">
                                    <label class="">Email Address</label>
                                    <div class="position-relative has-icon-right">
                                        <input type="text" asp-for="Email" class="form-control input-shadow" placeholder="E-Posta Adresi">
                                        <div class="form-control-position">
                                            <i class="icon-envelope-open"></i>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-light ">Şifreyi Sıfırla</button>
                            </form>

                        }
                        else
                        {
                            if (ViewBag.State)
                            {
                                @:<div class="alert-success">Şifre talebi için e-posta adresinize bilgilerindirici mail gönderilmiştir.Gelen mesajı görmek için; <a href="https://accounts.google.com/signin/v2/identifier?hl=tr&continue=https%3A%2F%2Fmail.google.com%2Fmail&service=mail&ec=GAlAFw&flowName=GlifWebSignIn&flowEntry=AddSession">hesapınızı</a> kontrol ediniz.</div>
                                <div>
                                    <a asp-action="Index">Anasayfaya dön...</a>
                                </div>
                            }
                            else
                            {
                                @:<div class="alert-success">Böyle bir e-posta bulunmamaktadır.</div>
                                <div>
                                    <a asp-action="Index">Anasayfaya dön...</a>
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="card-footer text-center py-3">
                    <p class="text-warning mb-0"> <a asp-action="Login"> Giriş sayfasına</a>Geri Dön</p>
                </div>
            </div>
        </div>

        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->
        <!--start color switcher-->
        <div class="right-sidebar">
            <div class="switcher-icon">
                <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
            </div>

        </div>
        <!--end color switcher-->

    </div><!--wrapper-->
    <!-- Bootstrap core JavaScript-->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- sidebar-menu js -->
    <script src="~/assets/js/sidebar-menu.js"></script>

    <!-- Custom scripts -->
    <script src="~/assets/js/app-script.js"></script>


</body>
</html>
